<%- include("partials/header") -%>
<h1><%= title %></h1>
<form action="<%= action %>" method="post">
    <div class="form-group">
        <label>Book Name</label>
        <input class="form-control" type = "text" name="message" required>
    </div>
    <button type = "submit" class="btn btn-primary active:sacle-95"><%= btn %></button>
</form>
<%- include("partials/footer") -%>